@model PersonelCreateVM
<form asp-action="Index" asp-controller="Personel" method="post">
    <input type="text"  asp-for="Adi"/>
    <input type="text" asp-for="Soyadi" />
    <button>gonder</button>

</form>
