
  @*   GetProducts dosyasinin uzantisi cshtml dir . c# + html dan gelir birlesimi de Razor teknolojisini ortaya cikarir . Razor html icerisinde c# kodlarini yazabildigimiz teknolojidir. Bu sekilde cikti aldigimizda
c# kodlarini kendisi ayiklayacak. c# kodlari @{ icerisinde yazilmaktadir }
*@
    <h3>tum dosyalar</h3>

