@addTagHelper * ,Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper * ,MVCProjectEx.

<a href ="mailto:pasaismihan0@gmail.com">E-mail</a>
<email a="abc" mail="pasaismihan0@gmail.com" display ="pasa ismihanin maili "></email>

@*classimizda taghelper kalitimi alan siniflarda yaptigimiz isimlendirmeye gore viewda costum olarak onlari kullanabiliyoruz ustteki costum isimlendirmeler gibi *@

@*buradaki maili heryerde kullanirken tek tek yazmak istemiyoruz bu yuzden costum taghelper olusturarak tag halinde email olarak gelmesini isteriz, bunun icin bir class olusturmamiz gerekir*@
